fastapi
uvicorn
langgraph
langfuse
langchain-openai
openai
pydantic
supabase
python-dotenv
google-cloud-texttospeech
requests
pymupdf
datasets
sentence-transformers
twilio
python-multipart
edge-tts

json_repair==0.61.7
